{#
/**
 * @file
 * Default theme implementation to display a formatted colorbox video field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - url: An URL to yputube embed.
 * - attributes: Link attributes.
 *
 * @see template_preprocess_youtube_colorbox_formatter()
 *
 * @ingroup themeable
 */
#}
<a href="{{ url }}"{{ attributes }}>{{ image }}</a>